$primary-color: #b88e2f;
$secondary-color: #fff3e3;
$dark-grey: #333;
$medium-grey: #666;
$light-grey: #f4f5f7;
$color-gray-1: #3a3a3a;
$color-gray-2: #616161;
$color-gray-3: #d9d9d9;
$color-gray-4: #9f9f9f;
$color-gray-5: #faf3ea;
$color-gray-6: #898989;
