.blogPage {
  position: relative;

  .content {
    display: flex;
    padding: 100px 100px 58px 60px;
    .searchContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
      margin-left: 78px;
      .search {
        display: flex;
        width: 300px;
        padding: 14px;
        border: 1px solid #9f9f9f;
        border-radius: 10px;
        margin: auto;

        input[type='search'] {
          border: none;
          background: transparent;
          margin: 0;
          color: #9f9f9f;
          padding: 7px 8px;
          font-size: 20px;
          border: 1px solid transparent;
          width: 100%;
        }

        input[type='search']::placeholder {
          color: #9f9f9f;
        }

        button[type='submit'] {
          text-indent: -999px;
          overflow: hidden;
          width: 40px;
          padding: 0;
          margin: 0;
          border: 1px solid transparent;
          border-radius: inherit;
          background: transparent
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
            no-repeat center;
          cursor: pointer;
          opacity: 0.7;
        }

        button[type='submit']:hover {
          opacity: 1;
        }

        button[type='submit']:focus,
        input[type='search']:focus {
          box-shadow: 0 0 3px 0 #1183d6;
          border-color: #1183d6;
          outline: none;
        }
      }

      .categories {
        margin: 43px 25px 61px 36px;

        h2 {
          margin-bottom: 33px;
        }
        .categoriesList {
          display: flex;
          flex-direction: column;
          gap: 41px;
          color: #9f9f9f;

          li {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .recentPostsContainer {
        margin: 43px 25px 61px 36px;

        .recentPosts {
          display: flex;
          flex-direction: column;
          margin-top: 26px;
          gap: 39px;
          li {
            display: flex;
            gap: 12px;

            > div {
              display: flex;
              flex-direction: column;
              justify-content: center;

              h3 {
                font-size: 14px;
              }

              span {
                color: #9f9f9f;
                font-size: 12px;
              }
            }
            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
