@import '../styles/variables.scss';

.qualityInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  width: 100%;
  background-color: $color-gray-5;
  margin-top: auto;

  .container {
    display: flex;
    > div {
      margin-left: 10px;
      p {
        color: $color-gray-6;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
